.messages {
    padding: 7px;
}
ul.list-items {
	padding-left: 0; 
}
.list-item {
    border: 1px solid lightblue;
    padding: 5px;
    margin-bottom: 2px;
    list-style: none;
}
.list-item:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}
.item-placeholder {
    border: 1px dashed grey;
    background:yellow;
    list-style: none;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}